@model Fall2024_Assignment3_kmodi.Models.MovieDetailsViewModel
@*@model Fall2024_Assignment3_kmodi.Models.Movie*@

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.ImdbLink)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.ImdbLink)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.YearOfRelease)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.YearOfRelease)
        </dd>
        @*<dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Photo)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Photo)
            </dd>*@
        <dd class="col-sm-10">
            @if (Model.Movie.Photo != null && Model.Movie.Photo.Length > 0)
            {
                var base64 = Convert.ToBase64String(Model.Movie.Photo);
                var imgSrc = string.Format("data:image/jpg;base64,{0}", base64);
                <img src="@imgSrc" height="auto" width="100px" style="border-radius:10px" />
            }
            else
            {
                <p>No photo available</p>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Movie.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<h5>Actors</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Actors)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Actors)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-controller="Actor" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-controller="Actor" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-controller="Actor" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h5>Overall Sentiment: @Model.AvgSentiment</h5>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.ReviewsAndSentiments)*@
                <h7>Reviews</h7>
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.AvgSentiment)*@
                <h7>Sentiments</h7>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var reviewSentiment in Model.ReviewsAndSentiments)
        {
            <tr>
                <td>@reviewSentiment[0]</td>
                <td>@reviewSentiment[1]</td>
            </tr>
        }
    </tbody>
</table>
